/*  src/Album/AlbumBook.css  */

.AlbumBook .aBook {
	border: none;
	position: relative;
}
.AlbumBook-Title {
	text-align: left;
	text-shadow: 1px 1px #c46060;
}

.AlbumBook-Detail {
	text-shadow: 1px 1px #c46060;
	text-align: right;
	position: absolute;
	right: 1em;
	bottom: 1em;
}

.AlbumBook {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
	border-radius: 20px;
	object-fit: cover;
	width: 100%;
	max-height: 100%;
	min-height: 300px;
}
