/*  src/Home/Home.css  */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.Home {
	position: relative;
}
.Home .jum {
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

.anniversary {
	font-family: 'Gloria Hallelujah', cursive;
	color: rgb(80, 78, 78);
	margin-top: 110px;
}

.buttons {
	margin-top: 15px;
}

.AddButton {
	border-radius: 50px;
	margin: 10px;
	background-color: rgb(197, 117, 116);
	box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
	border: none;
}
