/*  src/Home/Home.css  */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.Home {
	position: relative;
}
.Home .jum {
	background-image: url('https://i.pinimg.com/originals/71/a1/bf/71a1bf2e7bd9198115c2951c5c761e5c.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

.anniversary {
	font-family: 'Gloria Hallelujah', cursive;
	color: rgb(80, 78, 78);
	margin-top: 120px;
}

.buttons {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.AddButton {
	border-radius: 30px;
}
