.AddImportantDays {
	display: flex;
	flex-direction: column;
}

.ImportantDaysForm {
	margin: 10px;
	width: 90%;
}

.Buttons {
	margin-left: auto;
}
.aBtn {
	margin-left: 5px;
}

.DateEntry {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ButtonsGroup {
	margin-top: 1em;
}
